services:
  postgres:
    image: postgres:16-alpine
    container_name: ticketmaster_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    mem_limit: 1g
    cpus: 1.0
    shm_size: 256mb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ticketmaster"]
      interval: 10s
      timeout: 5s
      retries: 5

  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ticketmaster_app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    ports:
      - "80:80"
    restart: unless-stopped
    mem_limit: 1g
    cpus: 1.0


volumes:
  postgres_data: